@{Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

<!--Layout Start-->
<div id="containerEquipments" class="container-fluid" ng-controller="EquipmentGroupsController" data-ng-init="init()" style="height: 100%;">
    <form class="form-inline">
        <a class="btn btn-sm btn-primary" ng-click="OpenEquipmentGroupsModal('დამატება')"><i class="fa fa-plus-circle"></i> დამატება</a>

        <div class="input-group input-group-sm" style="float: right;">
            <span class="input-group-addon"><i class="fa fa-search"></i> ძებნა:</span>
            <input class="form-control input-sm clearable" type="text" ng-model="gridOptions.quickFilterText" autofocus style="width: 200px;" />
        </div>
    </form>

    <div style="height: 100%;">
        <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%; width: 100%; margin-top: 5px; margin-bottom: 10px;"></div>
    </div>    
</div>
<!--Layout End-->



<!--Equipment Group Modal Start-->
<script type="text/ng-template" id="EquipmentGroupModal.html">
    <div class="modal-header">
        <a class="close" ng-click="Cancel()">&times;</a>
        <h4 class="modal-title">მოწყობილობის ჯგუფის {{title}}</h4>
    </div>

    <div class="modal-body" data-ng-init="init()">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-object-group"></i> ჯგუფის დასახელება:</span>
            <input id="txtEquipmentGroupName" class="form-control input-sm clearable" type="text" autofocus ng-model="Name" />
        </div>
        <br />
        <br />
        <tabset class="small">
            <tab>
                <tab-heading>
                    <i class="fa fa-cubes"></i> მოწყობილობები
                </tab-heading>
                <form class="form-inline" style="margin-top: 15px;">
                    <a class="btn btn-sm btn-primary" ng-click="OpenEquipmentsModal('დამატება')"><i class="fa fa-plus-circle"></i> დამატება</a>

                    <div class="input-group input-group-sm" style="float: right;">
                        <span class="input-group-addon"><i class="fa fa-search"></i> ძებნა:</span>
                        <input class="form-control input-sm clearable" type="text" ng-model="gridOptions.quickFilterText" autofocus style="width: 200px;" />
                    </div>
                </form>

                <div style="height: 300px;">
                    <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%; width: 100%; margin-top: 5px; margin-bottom: 10px;"></div>
                </div>
            </tab>
        </tabset>
    </div>
    
    <div class="modal-footer">
        <a class="btn btn-sm btn-danger" ng-click="Save(true)" style="float: left;" ng-show="showDeleteButton"><i class="fa fa-trash"></i> წაშლა</a>
        <a class="btn btn-sm btn-primary" ng-click="Save(false)"><i class="fa fa-save"></i> შენახვა</a>
        <a class="btn btn-sm btn-default" ng-click="Cancel()"><i class="fa fa-close"></i> დახურვა</a>
    </div>
</script>
<!--Equipment Group Modal End-->



<!--Equipment Modal Start-->
<script type="text/ng-template" id="EquipmentModal.html">
    <div class="modal-header">
        <a class="close" ng-click="Cancel()">&times;</a>
        <h4 class="modal-title">მოწყობილობის {{title}}</h4>
    </div>

    <div class="modal-body" data-ng-init="init()">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-cube"></i> მოწყობილობის დასახელება:</span>
            <input id="txtEquipmentName" class="form-control input-sm clearable" type="text" autofocus ng-model="Name" />
        </div>
    </div>
    
    <div class="modal-footer">
        <a class="btn btn-sm btn-danger" ng-click="Save(true, true)" style="float: left;" ng-show="showDeleteButton"><i class="fa fa-trash"></i> წაშლა</a>
        <a class="btn btn-sm btn-primary" ng-click="Save(true, false)"><i class="fa fa-save"></i> შენახვა</a>
        <a class="btn btn-sm btn-default" ng-click="Cancel()"><i class="fa fa-close"></i> დახურვა</a>
    </div>
</script>
<!--Equipment Modal End-->