html{
    height: 100%;
}

.smartNavigation{
    height: 30px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.ptr{
    cursor: pointer;      
}

.crnt{
    cursor: default;
}

.smartNavCurrentItem{
    color: #222;
}

.perpetualLicense{
    background-color: #27c62a;
    color: #fff;
}

.topFixedNavbar{
    background-color: #bdbcbc;
    height: 50px;
}

.topFixedNavbarShadow{
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.topFixedNavbarItem{
    color: #fff;
    position: relative;
    height: 50px;
}

.pageFooter{
    background-color: #444;
    color: #fff;
    left: 0;
    right: 0;
    position: fixed; /* relative */
    bottom: 0;
    font-family: Consolas;
    padding-top: 6px;
    height: 30px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.phone{ 
    margin-right: 80px;   
    color: #fff;
    cursor: default;
    font-size: 17px;
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px; 
    cursor: text;
    border-left: 1px solid #e62714;
}

.contragentInfo{  
    color: #fff;
    cursor: default;
    font-size: 15px;
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;     
    border-right: 1px solid #2488b5;     
    cursor: text;
}

.logoutImage{  
    color: #fff;
    cursor: default;
    font-size: 17px;
    height: 50px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;   
    cursor: pointer;          
}

.logoutImage:hover{
    background-color: #49b8e9;
}





body {
    margin: 0;
    padding: 0;
    vertical-align: top;
    background-color: #f3f3f3;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#footer_container {
    border: 1px solid #666;
    bottom: 0;
    position: fixed;
    height: 45px;
    width: 100%;
}

#reg_form {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 285px;
    height: 120px;
    display: table;
    background-color: #fff;
    /*border-radius: 8px;*/
    position: relative;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

#reg_form:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#reg_form:before, #reg_form:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

#reg_form:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

#regtable {
    /*width: 280px;*/
    height: 115px;
    margin-top: 10px;
    text-align: right;
}

#login {
    background-color: #a5a5a5;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 200px;
    margin-left: -125px;
    margin-top: -100px;
    text-align: center;
    border: 3px solid #000;
    border-radius: 20px;
}

#auth ul li {
    display: inline-block;
    color: #800101;
    padding-right: 10px;
    margin-left: 10px;
}

#auth span {
    padding: 5px;
}

#loginbtn {
    font-size: 14px;
    height: 30px;
    background-color: #a5a5a5;
    border: none;
    /*border-radius: 2px;*/
    color: #fff;
    width: 145px;
}

#loginbtn:hover {
    font-size: 14px;
    height: 30px;
    background-color: #bdbcbc;
    border: none;
    /*border-radius: 2px;*/
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}